

.cuadritosAndy{
  width: 500px;
  height: 580px;
  float: left;
  margin-left: 70px;
  margin-right: 50px;
  border: 1px solid #000000;
}
.botonAndy{
  background-color: #EDD702;
  border: none;
  width: 70px;
  height: 30px;
  margin-left: 215px;
}
.imagenAndy{
  margin-left:100px;
  margin-top: 50px;

}
.ejemploAndy{
 margin-left: 30px;
}
.textoAndy{
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;

}
